*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  /* forzo que la propiedad que herede desde body */
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  /* 1rem = 16px */
  /* forzar 10pixeles en porcentaje el navegador por defecto trae 16px*/
  /* 1 rem = 10px */
  /* si 16px son 100% */
  /* cuanto % son 10px*/
  font-size: 62.5%;
}

body {
  font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 7rem;
  /* por defecto no se hereda */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  border: 2px solid black;
  background-color: #00000094;
  background-image: linear-gradient(315deg, #000000c7 3%, #414141d3 174%);
  height: 140vh;
  -webkit-animation: graduallyBackground 5s forwards ease-in-out;
          animation: graduallyBackground 5s forwards ease-in-out;
  position: relative;
}

.header #miVideo {
  z-index: -1;
  width: 100%;
  position: relative;
  top: -9rem;
}

.header .content-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  opacity: 0;
  -webkit-animation: aparezcaContent 1s forwards ease-in-out 4s;
          animation: aparezcaContent 1s forwards ease-in-out 4s;
}

.header .content-box h1, .header .content-box h3, .header .content-box h5 {
  text-align: center;
}

.pictureInPictureToggleLabel {
  display: none !important;
}

@-webkit-keyframes aparezcaContent {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7) skew(45deg);
            transform: scale(0.7) skew(45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) skew(1);
            transform: scale(1) skew(1);
  }
}

@keyframes aparezcaContent {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.7) skew(45deg);
            transform: scale(0.7) skew(45deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) skew(1);
            transform: scale(1) skew(1);
  }
}

@-webkit-keyframes graduallyBackground {
  0% {
    background-color: #0000;
    background-image: linear-gradient(315deg, #0000 3%, #1a1a1a00 174%);
  }
  45% {
    background-color: #0000;
    background-image: linear-gradient(315deg, rgba(0, 0, 0, 0.424) 3%, #1a1a1a00 174%);
  }
  100% {
    background-color: #000000d3;
    background-image: linear-gradient(315deg, #000000ab -19%, #1a1a1a00 174%);
  }
}

@keyframes graduallyBackground {
  0% {
    background-color: #0000;
    background-image: linear-gradient(315deg, #0000 3%, #1a1a1a00 174%);
  }
  45% {
    background-color: #0000;
    background-image: linear-gradient(315deg, rgba(0, 0, 0, 0.424) 3%, #1a1a1a00 174%);
  }
  100% {
    background-color: #000000d3;
    background-image: linear-gradient(315deg, #000000ab -19%, #1a1a1a00 174%);
  }
}

.boton-primario {
  background-color: #e50914;
  line-height: normal;
  padding: 7px 17px;
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-radius: 3px;
  margin-top: 0.5rem;
}

.caja-card {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sin-espacio {
  white-space: nowrap;
}

.border-redondo {
  border-radius: 10px;
}

.margen-arriba {
  margin-top: 1rem;
}

.fondo-oscuro {
  background-color: #111;
}

.fondo-oscuro-transparente {
  background-color: rgba(17, 17, 17, 0.781);
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  width: 100%;
}

.border {
  border: 1px solid yellow;
}

.flex-spaceBtwn {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-spaceAround {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.padding-sm {
  padding: 1rem;
}

.padding-md {
  padding: 4rem;
}

.padding-lg {
  padding: 6rem;
}
/*# sourceMappingURL=estilos.css.map */