@mixin centreComponente($espacioArriba : 40% ) {
    position: absolute;
    top: $espacioArriba;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    h1, h3, h5{
        text-align: center;
    }
    opacity: 0;
    animation: aparezcaContent 1s forwards ease-in-out 2s;
}

@mixin tableta {
    @media (max-width:1024px){
        @content;
    }
}

@mixin telefono {
    @media (max-width: 750px){
        @content;
    }
}

.boton-primario {
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1.5rem;
    color: white;
    border: none;
    border-radius: 3px;
    margin-top: 0.5rem;

}

.alineIzquierda{
    text-align: left !important;
}

.fullheight{
    height: 100vh;
}

.anchofull{
    width: 100%;
}
.alto1{
    height: 1rem;
}

.alto2{
    height: 2rem;
}

.alto3{
    height: 3rem;
}

.alto4{
    height: 4rem;
}
.alto5{
    height: 5rem;
}
.textoblanco{
    color: white;
}
.centrar-elemento{
    display: block;
    margin: 0 auto;

}
.flexc{
    display: flex;
}
.caja-card {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.enlinea{
    display: inline;
}
.sin-espacio{
    white-space: nowrap;
}
.border-redondo{
    border-radius: 10px;
}
.margen-arriba{
    margin-top: 1rem;
}

.fondo-oscuro{
    background-color: #111;
}
.fondo-oscuro-transparente{
    background-color: rgba(17, 17, 17, 0.781);
}

.flex-container{
    display: flex;
    padding: 6px;
    width: 100%;
}
.border{
    border: 1px solid yellow;
}

.flex-spaceBtwn{
    justify-content: space-between;
}

.flex-spaceAround{
    justify-content: space-around;
}

.flex-center{
    justify-content: center;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

.padding-sm{
    padding: 1rem;
}

.padding-md{
    padding: 4rem;
    
}
.padding-lg{
    padding: 6rem;
}

.margen-izq{
    margin-left: 1rem;
}
.fontsize1{
    font-size: 1rem;
}

.fontsize2{
    font-size: 2rem;
}

.fontsize3{
    font-size: 3rem;
}
.fontsize52{
    font-size: 5.2rem;
}
.text-center{
    text-align: center;
}

.paddingx-sm{
    padding: 0 2rem;
}

.margeny{
    margin: 2rem 0;
}